footer {
  background-color: $primary_color;
  padding: 5rem 0;
  position: relative;
  form {
    .form-control {
      border-radius: 0;
      border: transparent;
      &:focus {
        box-shadow: 0 0 0 0.2rem rgb(52, 49, 38);
      }
    }
    .submit-btn {
      background-color: black;
      border: none;
      color: white;
      display: inline-block;
      padding: 15px 50px;
      text-transform: uppercase;
    }
  }
  img.logo {
    height: auto;
    position: absolute;
    top: -10%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #eee;
    padding: 30px;
    border-radius: 50%;
  }
}
